#cards{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.card{
  flex:7% 1 1; /* 每個 item 分配容器寬度 */
  height: 8vw; /* 依視窗的寬度等比例變化 */
  border: 2px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2px;
  box-sizing: border-box;
}
.card img{
  max-width: 30%;
  align-self:center;
}
.card p{
  margin: 3px;
  font-size: 10px;
}
.card p:last-child{
  transform: rotate(180deg);
}

.back{
  background: url('https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png');
  background-size: cover;
}

.paired {
  background-color: #dae0e3;
}

#header{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  align-items: flex-end;
}
#header .title{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#header .title img{
  max-width: 4em;
}
#header .title h2{
  padding-left: 0.5em;
}
#header .score{
  margin: 0;
  color: #6c90ac;
}
#header .tried{
  margin-top: 0;
}

/* 設定動畫 */
.wrong {
  animation: wrongAnimation; /* 呼叫 wrongAnimation 動畫影格*/
  animation-duration: 0.2s; /* 持續時間 */
  animation-iteration-count: 5; /* 動畫執行次數 */
}
@keyframes wrongAnimation {
  to{
    border: 2px solid red;
  }
}
